.button {
    -webkit-appearance: none;
    display: inline-block;
    width: auto;
    min-width: 132px;
    height: auto;
    margin: 0;
    padding: 13px 24px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
    opacity: 0.5;
}

.button--black,
.button--black:disabled:hover {
    color: var(--white);
    background-color: var(--rich-black);
}

.button--black:hover {
    color: var(--rich-black);
    background-color: var(--white);
}

.button--white,
.button--white:disabled:hover {
    color: var(--rich-black);
    background-color: var(--white);
}

.button--white:hover {
    color: var(--white);
    background-color: var(--rich-black);
}

.button--lime,
.button--lime:disabled:hover {
    color: var(--rich-black);
    background-color: var(--fresh-lime);
}

.button--lime:hover {
    color: var(--white);
    background-color: var(--rich-black);
}
