.entities__wrapper {
    max-width: 1000px;
}

.entities__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.entities__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.entities__item {
    display: grid;
    padding: 8px 0;
    font-size: 16px;
    border-top: 1px solid #ccc;
    align-items: center;
}

.entities__item:first-child {
    font-weight: 500;
    border-top: none;
}

.entities__item--team {
    grid-template-columns: 40px 1fr 1fr 2fr;
}

.entities__item--parent {
    grid-template-columns: 40px 1fr 1fr 1fr 2fr;
}

.entities__item--athlete {
    grid-template-columns: 40px 2fr 1fr 2fr 1fr 1fr 2fr;
}

.entities__item--payment {
    grid-template-columns: 40px 1fr 1fr 1fr 1fr;
}

.entities__item:last-child {
    border-bottom: 1px solid #ccc;
}

.entities__cell {
    text-align: center;
}

.entities__cell--actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
}

.entities__item--athlete .entities__cell {
    text-align: left;
}

.entities__item--athlete .entities__cell--status {
    text-align: center;
}

.entities__item--parent .entities__cell:nth-child(2),
.entities__item--parent .entities__cell:first-child,
.entities__item--team .entities__cell:nth-child(2),
.entities__item--team .entities__cell:first-child {
    text-align: left;
}

.entities__item--athlete .entities__cell:last-child,
.entities__item--parent .entities__cell:last-child,
.entities__item--team .entities__cell:last-child {
    text-align: right;
}

/*.entities__cell-indicator {*/
/*    display: block;*/
/*    width: 36px;*/
/*    margin: auto;*/
/*    padding: 4px 8px;*/
/*    box-sizing: border-box;*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*    border-radius: 8px;*/
/*}*/

/*.entities__cell-indicator--true {*/
/*    color: green;*/
/*    background-color: rgba(0, 183, 43, 0.22);*/
/*}*/

.entities__cell-indicator--false {
    color: #9d0000;
    background-color: rgba(255, 0, 0, 0.11);
}

.entities__cell-indicator--expired {
    width: 72px;
    color: #262626;
    background-color: rgba(93, 93, 93, 0.11);
}

.entities__cell-indicator,
.entities__payment-status,
.entities__cell-status {
    display: block;
    width: 92px;
    margin: auto;
    padding: 6px 8px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center !important;
    border-radius: 50px;
}

.entities__payment-status {
    width: 80px;
}

.entities__payment-status::first-letter,
.entities__cell-status::first-letter {
    text-transform: uppercase;
}

.entities__payment-status--unpaid,
.entities__cell-status--incomplete {
    color: #000000;
    background-color: rgba(217, 217, 217, 0.3);
}

.entities__payment-status--pending,
.entities__cell-status--pending {
    color: rgba(0, 25, 35, 0.8);
    background-color: rgba(200, 250, 0, 0.3);
}

.entities__cell-indicator--true,
.entities__payment-status--paid,
.entities__cell-status--paid,
.entities__cell-status--verified {
    color: var(--rich-black);
    background-color: var(--fresh-lime);
}

.entities__cell-indicator--false,
.entities__payment-status--canceled,
.entities__cell-status--rejected {
    color: var(--white);
    background-color: var(--rich-black);
}

.entities__action {
    -webkit-appearance: none;
    margin: 0;
    padding: 0 0 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
    color: #5b5b5b;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #5b5b5b;;
    cursor: pointer;
}

.entities__action:hover {
    color: var(--rich-black);
    border-bottom: 1px dashed var(--rich-black);
}

.entities__layout {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 700px;
    height: 100vh;
    overflow: hidden;
    padding: 100px 40px;
    box-sizing: border-box;
    background-color: var(--white);
    transform: translate(100%, 0);
    transition: transform 0.4s ease;
}

.entities__layout-inner {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.entities__layout.active {
    transform: translate(0, 0);
}

.entities__close-button {
    -webkit-appearance: none;
    position: absolute;
    top: 28px;
    left: 40px;
    z-index: 11;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    border: none;
    cursor: pointer;
}

.entities__close-button svg {
    display: block;
    width: 100%;
    height: 100%;
}
